<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <link rel="shortcut icon" href="./img/yike.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script language=javascript src='https://cdn.bootcdn.net/ajax/libs/sweetalert/2.1.2/sweetalert.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="./jsapi.js"></script>
    <!-- 外部引入开始 -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/pre-loader.js"> </script>
    <link rel="stylesheet" href="css/responsive.css">
    <!-- 外部引用结束 -->
    <script src="./jsapi.js"></script>
    <title>我的工单</title>
</head>

<body>
    <!-- 顶部图案 -->
    <div class="sign_left signup_left" style="height: 30px;position:fixed !important;">
        <h1></h1>
        <img class="position-absolute top" src="img/signup/top_ornamate.png" alt="top">
        <img class="position-absolute bottom" src="img/signup/bottom_ornamate.png" alt="bottom">
        <!-- <img class="position-absolute middle wow fadeInRight" src="img/" alt="bottom"> -->
        <div class="round wow zoomIn" data-wow-delay="0.2s"></div>
    </div>
    <!-- /顶部图案 -->



    <!-- log -->
    <div class="col-lg-7 col-md-8">
        <div id="post" class="shortcode_info">
            <div class="shortcode_title">
                <h1>我的工单</h1>
                <p><span>山东科技大学益科服务队竭诚为您服务。</span><br>这里的每一笔工单，是为您提供的便利，也是我们提升自己的实践契机。</p>
            </div>
            <div class="changelog_inner" id="user_tickets">
                <!-- 单个工单开始 -->
                <div class="row changelog_info" id="v1" v-for="(item,idx) in vtickets">
                    <div class="col-lg-3 changelog_date">
                        <div class="c_date">
                            <h6>{{item.submit_object}} #{{item.submit_id}}</h6>
                            <p>{{item.submit_time}}</p>
                        </div>

                    </div>
                    <div class="col-lg-2">
                        <div style="height: 20px; margin-bottom: 10px; position: relative;top:-10px"  v-if="item.rev_flag==1">
                            <p><span style=" background-color:orange; padding: 4px; color: white; border-radius: 4px;">预约单</span></p>
                        </div>
                        <div class="version_info">
                            <div style="background-color:aliceblue; color:dimgray; width: 80vw; border-radius: 4px; padding: 5px;">
                                问题描述：{{item.submit_des}}
                            </div>
                            <div style="background-color:aliceblue; color:dimgray; width: 80vw; border-radius: 4px; padding: 5px;margin-top: -2px;">
                                附加物品：{{item.submit_extra}}
                            </div>
                            
                            <div class="line bottom_half"></div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="changelog_content">
                            <p><span class="improve">志愿者接单</span><br>{{item.submit_time}}</p>
                            <div v-if="item.todos.length>0">
                                <div v-for="(todo,todoi) in item.todos">
                                    <p><span class="update"><b>工单挂起</b></span><b>{{todo.reason}}</b> ——{{todo.head}}<br>{{todo.time}}</p>
                                </div>
                            </div>
                            <div v-if="item.cmplete_flag==2 || item.cmplete_flag==1">
                                    <p><span class="fixed"><b>已完待取</b></span> ——{{item.cmplete_head}}<br>{{item.cmplete_time}}</p>
                            </div>

                            <div v-if="item.cmplete_flag==1">
                                <p><span class="new"><b>已取件</b></span><br></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- 单个工单结束 -->
            </div>

            <script>
                var app_user_tickets = new Vue({
                    el:"#user_tickets",
                    data:{
                        vtickets:undefined,
                    },
                    mounted:function(){
						this.$http.post('./php/get_user_tickets.php',{1:"1"},{emulateJSON:true}).then(function(res){
							this.vtickets = res.body;
                            console.log(this.vtickets);
						},function(res){
							//console.log(res.status);
							console.log('请求后台接口成功');
						});

					}
                })
            </script>
            

        </div>
    </div>

    <!-- /log -->

</body>